<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Vue作品-1</title>
  <script src="js/jquery-3.4.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
           <div id="app">
                       <div>內容前段:<input v-model="content1"></div>
                       <div>內容後段:<input v-model="content2"></div>
                       <p>{{result}}</p>
                       <p>目前輸入的文字數:{{count}}</p>
            </div>
            <script>
                        new Vue({
                                  el:"#app",
                                  data:{
                                        content1:"",
                                         content2:"",
                                         count:0
                                  },
                                  computed:{
                                    result(){
                                      return this.content1+this.content2
                                    }
                                  },watch:{
                                      content1(){
                                             this.count++
                                      },
                                      content2(){
                                             this.count++
                                      }
                                  }
                        })
            </script>
</body>
</html>